<?xml version='1.0' encoding='utf-8'?>
<!--
Copyright (c) Microsoft Open Technologies, Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License"); you may not use these files except in compliance with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
-->
<plugin
    id="com.msopentech.test-plugin" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Test plugin</name>
    <license>Apache 2.0</license>
    <description>
        This plugin demonstrates experience of adding new plugin to your Apache Cordova Application.
    </description>

    <asset src="www/testPlugin.css" target="testPlugin.css" />

    <js-module name="testPlugin" src="www/testPlugin.js">
        <runs />
    </js-module>

</plugin>
